.navbar {
	display: flex;
	padding: 0.5rem 1rem;
	border-bottom: 1px solid rgba($color: $black, $alpha: 0.1);

	&--mobile {
		z-index: 0 !important;
		margin-top: 8vh;
		display: flex;

		@media screen and (min-width: 769px) {
			display: none !important;
		}
	}

	&__left {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__right {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__daftar {
		&--mobile {
			margin: 1rem 0;
		}
	}

	&__profileButton {
		align-items: flex-end;
		font-size: 14px;

		span {
			margin-right: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__profileNav {
		position: absolute;
		transform: translate(0, 45px);

		&__item {
			padding: 0.5rem 4rem;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			&:hover {
				background: rgba($color: $black, $alpha: 0.1);
			}
		}
	}

	&__link {
		display: flex;
		margin-right: 1rem;

		&--mobile {
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			button {
				margin: 5px 0;
			}
		}

		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	&__more {
		display: none;

		@media screen and (max-width: 768px) {
			display: flex;
			padding: 5px;
		}
	}
}
