.footer {
  background: $primary;

  &__top {
    margin-bottom: -10px;

    img {
      min-width: 100vw;
      max-width: 100vw;
    }
  }

  &__content {
    background: $light-orange;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;

    &__bottom {
      margin-top: 1rem;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }
  }

  &__logoContainer {
    grid-area: logo;
    display: flex;
    align-items: center;
    color: $white;
  }

  &__logo {
    height: 32px;
    width: 32px;
    padding: 5px;
    background: $white;
    border-radius: 5px;
    margin-right: 10px;
  }

  &__sponsor,
  &__mediaPartner {
    &__logoContainer {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
    }

    &__logo {
      max-height: 32px;
      max-width: 32px;
      margin: 5px;

      @media screen and (min-width: 1440px) {
        max-height: 64px;
        max-width: 64px;
      }
    }
  }

  &__sponsor,
  &__mediaPartner,
  &__contact__socialMedia,
  &__contact__email {
    &__title {
      font-weight: bold;
      color: $secondary;
    }
  }

  &__sponsor {
    flex: 1;
    &__logos {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__mediaPartner {
    flex: 1;
    &__logos {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__contact {
    flex: 1;

    &__email {
      margin-top: 2rem;
      &__text {
        color: $white;
        margin-top: 5px;
      }
    }

    &__socialMedia {
      &__logos {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        height: 34px;

        a {
          margin-right: 20px;

          &:hover img {
            height: 24px;
          }
        }

        img {
          height: 20px;
          transition: all 0.2s ease;
        }
      }
    }
  }

  &__copyright {
    margin-top: 10px;
    padding-top: 10px;
    color: $secondary;
    border-top: 1px solid rgba($color: $white, $alpha: 0.2);

    &__kmmb {
      font-weight: bold;
    }
  }
}
