.step {
  &--active {
    span:nth-child(1) svg {
      fill: rgba($color: $primary, $alpha: 0.4);
      border: 2px solid $primary;
      border-radius: 50%;

      text {
        fill: $primary;
        font-weight: bold;
      }
    }

    span:nth-child(2) span {
      color: $primary;
      font-weight: bold;
    }
  }
}

.MuiStep-completed .step span:nth-child(2) span {
  color: $primary;
}
