.formField {
  width: 100%;
  margin-top: 1rem !important;

  &__tooltip {
    position: absolute;
    top: 25px;
    z-index: 1000;
    padding: 10px;
    width: auto;
    white-space: pre-wrap;
    background: $black !important;
    color: $white !important;

    p {
      font-size: 12px;
    }
  }

  .Mui-disabled {
    cursor: not-allowed;
  }

  &.invers {
    label {
      color: $white !important;
    }
  }
}

.radiobar {
  display: flex;
  flex-direction: row !important;
  position: relative;
  box-sizing: border-box;

  .active {
    background: $primary;
    color: $white !important;
  }

  label {
    position: relative;
    width: auto;
    margin: 4px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid darken($white, 10%);
    color: darken($white, 40%) !important;

    &:not(.Mui-disabled):hover {
      background: $secondary !important;
      color: $white !important;
    }

    span {
      font-size: 14px !important;
    }
  }

  .MuiRadio-root {
    display: none;
  }
}

label + .radiobar {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 10px;
}

label {
  font-size: 1rem !important;
  display: flex !important;
  align-items: center;
  font-weight: bold !important;
  color: $primary !important;
  font-family: "Inter", sans-serif !important;

  &.muted {
    white-space: pre-wrap;
    font-size: 14px !important;
    margin-top: 10px;
    font-weight: normal !important;
    color: lighten($black, 40%) !important;
  }

  span.material-icons {
    margin-left: 5px;
    font-size: 18px !important;
    cursor: pointer;
  }
}

.MuiDropzoneArea-root {
  margin-top: 1rem;

  &.active {
    display: none;
  }

  & + .MuiTypography-root {
    color: $primary;
    margin-top: 1rem;
    font-size: 13px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }
}

.MuiDropzoneArea {
  &-root {
    display: flex;
  }

  &-textContainer {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1024px) {
      flex-direction: column-reverse;
    }

    svg {
      max-height: 32px;
      fill: lighten($black, 50%);
    }

    p {
      font-size: 18px;
      color: lighten($black, 50%);
    }
  }
}
