@font-face {
	font-family: "League Spartan";
	src: url("/fonts/leaguespartan-bold.woff2") format("woff2");
}

body,
html {
	margin: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
button {
	font-family: "League Spartan", sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 64px;
	@media screen and (max-width: 425px) {
		font-size: 36px;
	}
}

h2 {
	font-size: 36px;
	@media screen and (max-width: 425px) {
		font-size: 24px;
	}
}

h3 {
	font-size: 24px;
	@media screen and (max-width: 425px) {
		font-size: 18px;
	}
}

h4 {
	font-size: 18px;
	@media screen and (max-width: 425px) {
		font-size: 18px;
	}
}

p {
	font-size: 14px;
	@media screen and (max-width: 425px) {
		font-size: 12px;
	}
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

a {
	text-decoration: none !important;
	color: black;
	cursor: pointer;
}

button {
	cursor: pointer;
	padding: 0.5rem 0.96rem;
	border: 0;
	border-radius: 5px;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;

	& ~ button {
		margin-left: 16px;
	}

	&.basic {
		background: transparent !important;

		&:hover {
			background: darken($color: $white, $amount: 5%) !important;
		}

		&.primary {
			color: $primary;
		}

		&.secondary {
			color: $secondary;
		}
	}

	&.primary {
		background: $secondary;
		color: $white;

		&:hover {
			background: darken($color: $secondary, $amount: 5%);
		}
	}

	&.secondary {
		background: $white;
		color: $secondary;

		&:hover {
			background: darken($color: $white, $amount: 5%);
		}
	}

	&.blue {
		background: $blue;
		color: $white;

		&:hover {
			background: darken($color: $blue, $amount: 5%);
		}
	}
}

.uploadLoading {
	position: absolute;
	z-index: 10000;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	padding: 2rem;
	box-shadow: 0 0 10px rgba($color: $black, $alpha: 0.3);
}
