$black: #1b262c;
$white: #ffffff;
$blue: #3282b8;
$green: #32b865;
$red: #e84a5f;
$yellow: #fbd46d;
$purple: #841361;
$orange: #ff7614;
$light-orange: #fbb15b;

$primary: $orange;
$secondary: $purple;
